#spotlight {
  padding-top: 60px;
}
#spotlight h1,
#spotlight h2 {
  color: #e66702;
}
#spotlight .vertical {
  display: none;
}
@media (max-width: 735px) {
  #spotlight .web-img {
    display: none;
  }
  .live-text .white-background {
    margin-top: 15px;
  }
  #spotlight .vertical {
    display: block;
    margin-top: 50px;
  }
  #spotlight .vertical .screen#spotlight-mobile-img {
    background-image: url(../../../../assets/images/spotlight-mobile.jpg);
  }
}
