.live-text-content {
  position: relative;
}
.live-text h1,
.live-text h2,
.live-text #transformed-icon .circle {
  color: #3d44c3;
}
.live-text img {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: scale(1.13);
}
.live-text .white-background {
  margin-top: 30px;
}

/********************************************************************************/

.live-text h3 {
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-bottom: -30px;
}

.live-text .overlay-content img {
  display: none;
}
.live-text .live-text-mobile {
  display: none;
}

.live-text .icon {
  margin-top: 0 !important;
}
.live-text .icon .circle {
  right: 0;
}
.live-text figure {
  margin: 0;
}
.live-text .overlay-content h2,
.live-text .overlay-content p {
  color: #fff;
}

.live-text .overlay-content {
  align-items: center;
  justify-content: center;
  top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  background-color: #3d44c3;
  max-width: 100%;
}

.live-text .current-content {
  height: 100%;
}

@media only screen and (max-width: 1068px) {
  .live-text h3 {
    font-size: 48px;
    margin-bottom: -70px;
  }
}

@media only screen and (max-width: 734px) {
  .live-text {
    padding-top: 70px;
  }
  .live-text h3 {
    font-size: 40px;
  }
  .live-text .tab-group {
    grid-row-start: 2;
  }
  .live-text .face-time-links {
    grid-row-start: 3;
  }
  .live-text .invite-facetime {
    grid-row-start: 4;
  }
  .live-text .flex {
    height: 100%;
    margin-top: 60px;
    padding-bottom: 115px;
  }
  .live-text .white-background {
    margin-top: 0px;
  }
  .live-text .vertical {
    margin-bottom: 30px;
  }
  .live-text .vertical .screen {
    border-radius: 30px !important;
  }
  .live-text .live-text-mobile {
    display: block;
    transform: scale(1.5);
    margin: 100px auto 30px;
  }
  .live-text .live-text-img {
    display: none;
  }
  .live-text .overlay-content p {
    width: auto;
  }
  .live-text .icon .circle {
    right: 0px;
    margin-bottom: 15px;
  }
}

/*********************************************************************************/
