.expanded-back.back {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.navs {
  position: sticky;
  height: 48px;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  z-index: 9997;
}
.ios15-nav {
  z-index: 999;
  /* max-width: 1035px; */
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  padding: 12px 0 0 !important;
}

.ios15-nav .ios15-nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1049px;
  margin: 0 auto;
  align-items: center;
  padding: 0 30px 15px;
  width: 100%;
}
.features .ios15-nav .ios15-nav-content {
  border-bottom: 1px solid #d2d2d7;
}
.features .ios15-nav#border-bottom {
  border-bottom: 1px solid #d2d2d7;
}
.ios15-nav#border-bottom .ios15-nav-content {
  border-bottom: 0;
}
.ios15-nav h5 {
  margin-bottom: 0;
}
.ios15-nav a,
.ios15-nav a:hover {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-decoration: none;
  color: #000;
}
.ios15-nav h5 a,
.ios15-nav h5 a:hover {
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.011em;
  display: block;
  float: left;
  transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}
.ios15-nav .links a,
.ios15-nav .links a:hover {
  font-size: 12px;
  line-height: 22px;
  white-space: nowrap;
  margin-left: 24px;
}
.home-page .ios15-nav .links a.overview {
  opacity: 0.56;
  cursor: default;
}
.features .ios15-nav .links a.features {
  opacity: 0.56;
  cursor: default;
}
.ios15-nav .arrow {
  display: none;
}
.default {
  position: relative;
}
@media (max-width: 833px) {
  .back {
    right: 0;
    bottom: 0;
    transition: opacity 1s ease 0.1s;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 99;
  }
  .features .ios15-nav {
    border-bottom: 1px solid #d2d2d7;
  }

  .features .ios15-nav .ios15-nav-content,
  .features .ios15-nav .ios15-nav-content .links a.overview,
  .features .expanded.ios15-nav {
    border: 0;
  }
  .features .ios15-nav .ios15-nav-content .links a.overview:hover {
    color: #06c;
  }
  .features .ios15-nav .ios15-nav-content .links a.features:hover {
    color: #000;
  }
  .expanded.ios15-nav {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.9);
  }
  .ios15-nav .ios15-nav-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .ios15-nav .links {
    padding: 24px 24px;
    width: 100%;
  }
  .ios15-nav .ios15-nav-content .links a,
  .ios15-nav .ios15-nav-content .links a:hover {
    display: block;
    margin-left: 0;
    height: 44px;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.181818);
  }
  .ios15-nav .ios15-nav-content .links a:hover {
    color: #06c;
  }
  .home-page .ios15-nav .links a.overview {
    border: none;
  }
  .home-page .ios15-nav .ios15-nav-content .links a.overview:hover {
    color: #000 !important;
  }
  .ios15-nav .ios15-nav-content .links {
    opacity: 0;
    transform: translate3d(0, -150px, 0);
    visibility: visible;
    /* transition-delay: 0.2s, 0s; */
    transition-delay: 0.2s, 0s;
    transition: 0.5s ease;
    transition: transform, opacity;
  }
  .ios15-nav .ios15-nav-content .links a.overview {
    transition-delay: 0.56s;
  }
  .ios15-nav .ios15-nav-content .links a.features {
    transition-delay: 0.49s;
  }
  .expanded .ios15-nav-content .links {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.2s, 0.4s;
    max-height: calc(100vh - 48px - 48px);
    visibility: visible;
  }
  .ios15-nav {
    height: 48px;
    position: sticky;
    transition: height 0.5s linear;
  }
  .expanded.ios15-nav {
    height: 182px;
    z-index: 999;
  }
  .ios15-nav .title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .ios15-nav .arrow {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
      transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translateY(0);
    opacity: 0.8;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }

  .ios15-nav .arrow::before {
    background: #000;
    right: 50%;
    border-radius: 0.5px 0 0 0.5px;
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    width: 11px;
    height: 1px;
    z-index: 1;
    transform-origin: 100% 100%;
    transform: rotate(40deg) scaleY(1.1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
      transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .ios15-nav .arrow::after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    width: 11px;
    height: 1px;
    z-index: 1;
    left: 50%;
    border-radius: 0 0.5px 0.5px 0;
    background: #000;
    transform-origin: 0% 100%;
    transform: rotate(-40deg) scaleY(1.1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
      transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .expanded.ios15-nav .arrow::before {
    transform-origin: 100% 0%;
    transform: rotate(-40deg) scaleY(1.1);
  }
  .expanded.ios15-nav .arrow::after {
    transform-origin: 0% 0%;
    transform: rotate(40deg) scaleY(1.1);
  }
}
