.maps {
  padding-top: 0px;
}
.maps .flex-content {
  flex-direction: column;
  margin-top: 0;
  height: 100%;
  justify-content: center;
}
.maps .new-transit .img-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
}
.maps .content-data {
  grid-column-gap: 25px;
  display: grid;
  grid-column: span 12;
}
.maps .white-background {
  margin-top: 30px;
}
.maps .all-new-city {
  background-image: url(../../../../assets/images/new-city.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.maps .all-new-city h2,
.maps .all-new-city p {
  color: #fff;
}
.maps .all-new-city img {
  margin-top: 120px;
  transform: scale(1.3);
}
.maps h1,
.maps h2 {
  color: #0c9d46;
}
.title-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: flex-start;
  margin-top: 60px;
}
.maps .img-container {
  flex-direction: column;
  /* margin-top: 0; */
}
.maps .immersive .img-container {
  padding: 70px 0;
}
.maps #new-drive {
  background-image: url(../../../../assets/images/new-drive.jpg);
}
.xx {
  transition: all 0.6s linear;
  height: 200px;
  position: relative;
}

.maps video {
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 30px;
}
.maps .play-pause {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  color: #06c;
  cursor: pointer;
  font-weight: 300;
}
.maps .play-pause:hover {
  text-decoration: underline;
}
.maps .fa {
  margin-left: 6px;
  color: #0066cccf;
}
.maps .vertical.mobile-scaled {
  margin-top: 20px;
  transform-origin: top;
}
.maps .vertical.mobile-default {
  margin-top: 20px;
}
.maps .img-container {
  height: auto;
  padding: 0;
}
.maps .img-container img {
  width: 584px;
  height: 654px;
}

.maps .new-driving .img-container {
  margin-top: 0;
}
@media only screen and (max-width: 1200px) {
  .maps .flex-content {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 1068px) {
  .maps .vertical {
    width: 196px;
    height: 394px;
  }
  .maps .vertical::before {
    left: -128px;
    top: -18px;
    width: 452px;
    height: 510px;
    background-size: 452px 510px;
  }
  .maps .vertical .hardware {
    width: 196px;
    height: 394px;
    background-size: 196px 394px;
  }
  .maps .vertical .screen,
  .maps .vertical .screen video {
    width: 184px;
    height: 382px;
  }
  .maps .flex-content {
    justify-content: flex-end;
  }
  .maps .new-transit .img-container {
    justify-content: center;
  }
  .maps .play-pause {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .maps .img-container img {
    width: 435px;
    height: 489px;
  }
  .maps #new-drive {
    background-image: url(../../../../assets/images/drive-small.jpg);
  }
}

@media (max-width: 1000px) {
  .maps .all-new-city img {
    width: 500px;
  }
  .maps .img-container img {
    margin-left: -10%;
  }
}
@media (max-width: 900px) {
  .maps .img-container img {
    margin-left: -15%;
  }
}
@media only screen and (max-width: 850px) {
  .maps .img-container img {
    margin-left: -25%;
    width: 400px;
    height: 467px;
  }
  .maps .new-transit .img-container {
    justify-content: flex-start;
  }
  .maps .flex-content {
    justify-content: center;
    margin-top: 55px;
  }
}
@media only screen and (max-width: 734px) {
  .maps {
    padding-top: 50px;
  }
  .maps img {
    width: 85% !important;
  }
  .maps .img-container img {
    margin-left: 0;
  }
  .overview .vertical .screen,
  .overview .vertical .screen video {
    width: 209px;
    height: 430px;
    background-size: 209px 430px;
  }
  .maps .flex-content {
    margin-top: 0;
  }
  .maps h1 {
    margin-bottom: 23px;
  }
  .maps .new-driving img {
    margin-top: 80px;
  }
  .maps .new-transittions {
    padding-bottom: 170px !important;
  }
  .maps .white-background {
    margin-top: 0;
  }
  .maps h1 {
    width: 238px;
  }

  .maps .img-container img {
    width: 400px !important;
    height: 469px;
  }
  .maps .all-new-city {
    min-height: 600px;
  }
  .overview .vertical {
    width: 222px;
    height: 446px;
  }
}
@media only screen and (max-width: 428px) {
  .maps img {
    width: 100% !important;
  }
  .maps .all-new-city img {
    margin-bottom: 90px;
    transform: scale(2);
  }
  .maps .img-container img {
    width: 100% !important;
    height: auto;
    transform: scale(1.3);
    margin: 41px auto;
  }
}
@media only screen and (max-width: 280px) {
  .maps .vertical.mobile-scaled {
    width: 130px;
  }

  .maps video {
    border-radius: 13px;
  }
}
