.photos h1 {
  padding-top: 100px;
}
.photos .photos-content {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.photos .white-background {
  margin-top: 30px;
}
.photos .interactive {
  overflow: hidden;
  padding-bottom: 70px;
}
.photos h1,
.photos .interactive h2 {
  color: #f63e54;
}
.photos .apple-music img {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
}
.photos h3 {
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  max-width: 447px;
}
.photos .circle {
  bottom: 0;
  right: 0;
  background-color: #86868b;
}
.photos .icon {
  margin-top: 0;
}
.photos .overlay-content img {
  display: none;
}
.photos .flex {
  height: 85%;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 460px;
  margin: auto;
}

.photos .interactive img {
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  transform: scale(1.66);
  margin-top: 180px;
}
.photos .apple-music {
  background-color: #f63e54;
}
.photos .apple-music,
.photos .overlay-content h2,
.photos .overlay-content p {
  color: #fff;
}

.photos .current-content {
  height: 100%;
}

.photos .overlay-content {
  left: 0;
  background-color: #f63e54;
  max-width: 650px;
}

@media only screen and (max-width: 1068px) {
  .photos h3 {
    font-size: 48px;
  }
}
@media (max-width: 735px) {
  .photos h1 {
    padding-top: 60px;
  }
  .photos .photos-content {
    grid-template-columns: 100%;
    grid-gap: 0px;
    grid-row-gap: 15px;
  }
  .photos .white-background {
    margin-top: 0px;
  }
  .photos h3 {
    font-size: 40px;
    max-width: 321px;
  }
  .photos .flex {
    margin: 40px auto;
    padding-bottom: 150px;
    height: 100%;
  }
  .photos .flex {
    height: 100%;
  }
}
