.features .section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}
@media (max-width: 1068px) {
  .features .section-content {
    width: 692px;
  }
}
@media (max-width: 734px) {
  .features .section-content {
    width: 87.5%;
  }
}
