.watch-listen-share {
  display: grid;
  grid-template-columns: 31.5% 31.5% 31.5%;
  grid-column-gap: 25px;
  overflow: hidden;
  position: relative;
}

.watch-listen-share .current-content {
  position: relative;
  height: 94%;
}
.watch-listen-share .current-content {
  background-color: white;
  padding: 36px 40px;
  max-width: 655px;
  border-radius: 30px;
  margin-top: 30px;
}

.watch-listen-share .white-background {
  margin-top: 30px;
}

.watch-listen-share .data {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: flex-end;
  padding-bottom: 80px;
}
.watch-listen-share .current-content .data {
  position: relative;
}
.watch-listen-share h2 {
  color: #f63e54;
}
.watch-listen-share p {
  margin-top: 0.3em;
  max-width: 655px;
  font-size: 19px;
  line-height: 1.4211026316;
  font-weight: 600;
  letter-spacing: 0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  height: 240px;
  margin-bottom: 0;
}
.watch-listen-share .vertical {
  margin-top: 70px;
}
.watch-listen-share .watch-together .vertical {
  margin-top: 0px;
}
.watch-listen-share .current-content .screen#watch {
  background-image: url(../../../../assets/images/watch.jpg);
}
.watch-listen-share .listen-together .screen#listen {
  background-image: url(../../../../assets/images/listen.jpg);
}
.watch-listen-share .share-screen .screen#share {
  background-image: url(../../../../assets/images/share.jpg);
}
.watch-listen-share .overlay-content h1,
.watch-listen-share .overlay-content p {
  color: #fff;
}

.watch-listen-share .current-content {
  height: 100%;
}
.watch-listen-share .watch-together {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}
.watch-listen-share .overlay-content {
  background-color: #f63e54;
}

.watch-listen-share .watch-together .overlay-content p.overlay-p2 {
  display: none;
}
.watch-listen-share img {
  width: 100%;
}

@media (max-width: 1280px) {
  .overview .watch-listen-share .listen-together p,
  .overview .watch-listen-share .share-screen p {
    height: 210px;
  }
  .overview .watch-listen-share .watch-together p {
    height: 278px;
  }
}

@media only screen and (max-width: 1068px) {
  .watch-listen-share p {
    font-size: 17px;
  }
}
@media (max-width: 1050px) {
  .watch-listen-share {
    grid-template-columns: 49% 49% 100%;
    grid-column-gap: 2%;
  }
  .watch-listen-share .current-content {
    grid-area: 1/1;
  }
  .watch-listen-share .listen-together {
    grid-area: 1/2;
  }
  .watch-listen-share .share-screen {
    grid-area: 2/1;
    grid-column-end: 3;
    max-width: 100%;
  }
  .watch-listen-share .data {
    justify-content: flex-start;
  }
  .watch-listen-share .current-content {
    overflow: hidden;
  }
  .watch-listen-share .current-content,
  .watch-listen-share .listen-together {
    padding-bottom: 0;
  }
  .watch-listen-share .share-screen p {
    height: 159px;
  }

  .watch-listen-share .data {
    margin: 0;
    padding: 0;
  }
  .overview .watch-listen-share .listen-together p,
  .overview .watch-listen-share .share-screen p,
  .overview .watch-listen-share .watch-together p {
    height: auto;
  }
}
@media only screen and (max-width: 734px) {
  .watch-listen-share {
    grid-template-columns: 100%;
    grid-template-rows: 680px 800px 800px;
  }
  .watch-listen-share .icon {
    margin-top: -30px;
  }
  .watch-listen-share .watch-together {
    margin-bottom: -170px;
  }
  .watch-listen-share .listen-together {
    grid-area: 2/1;
    margin-top: 15px !important;
  }
  .watch-listen-share .share-screen {
    grid-area: 3/1;
    grid-column-end: 1;
    max-width: 100%;
  }

  .overview .watch-listen-share .watch-together .vertical {
    width: 286px;
    height: 576px;
  }
  .overview .watch-listen-share .watch-together .vertical::before {
    left: -81px;
    top: -7px;
  }
  .overview .watch-together #mobile-layout.vertical .hardware {
    width: 286px;
    height: 576px;
    background-size: 286px 576px;
  }
  .watch-listen-share .watch-together .current-content .screen {
    border-radius: 38px !important;
    width: 268px;
    height: 558px;
    background-size: 268px 558px;
    background-repeat: no-repeat;
  }
  .watch-listen-share .current-content .screen#watch {
    background-image: url(../../../../assets/images/watch-small.jpg);
    background-repeat: no-repeat;
    width: 268px;
    height: 558px;
    background-size: 268px 558px !important;
  }

  .watch-listen-share p,
  .watch-listen-share .share-screen p {
    height: auto;
  }
  .watch-listen-share .current-content .data {
    padding-top: 50px;
    max-height: 430px;
  }
  .watch-listen-share .data {
    padding-top: 50px;
  }
  .watch-listen-share .listen-together .data {
    height: 490px;
  }
  .watch-listen-share .share-screen .data {
    height: 520px;
  }

  .watch-listen-share p {
    padding: 0;
  }
}

@media (max-width: 429px) {
  .watch-listen-share .current-content {
    padding: 30px;
  }
}
@media (max-width: 375px) {
  .overview .watch-listen-share .watch-together {
    border-radius: 0;
  }
}
@media (max-width: 320px) {
  .overview .watch-listen-share .current-content {
    padding: 0;
  }
  .overview .watch-listen-share .current-content h2,
  .overview .watch-listen-share .current-content p {
    padding: 36px 40px 0;
  }
  .overview .watch-listen-share .current-content p {
    padding: 0px 40px 0;
  }
}
@media (max-width: 280px) {
  .watch-listen-share .vertical {
    margin-top: 0px;
  }
}
