.face-time-links {
  grid-area: 2/1;
}
.grid-portrait-mic .face-time-links img {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
}
.face-time-links h3 {
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.face-time-links .flex {
  height: 95%;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.invite-facetime {
  grid-column: span 8;
  grid-area: 2/2;
  max-width: 100% !important;
  overflow: hidden;
}
.invite-facetime p {
  height: 170px;
}
.invite-facetime img {
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  transform: scale(1.17);
}

@media only screen and (max-width: 1068px) {
  .face-time-links h3 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 734px) {
  .face-time-links {
    grid-area: 3/1;
  }
  .face-time-links h3 {
    font-size: 40px;
  }
}
