.so-much {
  padding-top: 96px;
  overflow: hidden;
  padding-bottom: 130px;
}
.so-much .so-much-content {
  margin-left: auto;
  margin-right: auto;
  overflow-x: visible;
  padding: 0;
  width: 980px;
}
.so-much img[alt="so-much-img"] {
  transform: scale(1.3);
}
.so-much h4 {
  text-align: center;
  font-size: 72px;
  line-height: 1.0555555556;
  font-weight: 600;
  letter-spacing: -0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-bottom: 135px;
}
.so-much .full-list {
  text-align: center;
  margin-top: 135px;
}
.so-much .full-list h5 {
  margin-bottom: 20px;
  max-width: 460px;

  margin-left: auto;
  margin-right: auto;
}
.so-much .full-list a {
  color: #06c;
}
.so-much .full-list a i {
  margin-left: 6px;
}
@media (max-width: 1068px) {
  .so-much .so-much-content {
    max-width: 692px;
  }
  .so-much h4 {
    margin-bottom: 111px;
    font-size: 64px;
    line-height: 1.0625;
  }
  /* .so-much img[alt="so-much-img"] {
    transform: scale(1.2);
  } */
  .so-much .full-list h5 {
    margin-bottom: 15px;
    max-width: 380px;
  }
}
/* @media (max-width: 960px) {
  .so-much img[alt="so-much-img"] {
    transform: scale(1);
  }
} */
@media (max-width: 735px) {
  .so-much .so-much-content {
    width: 87.5%;
    max-width: 480px;
  }
  .so-much h4 {
    margin: 0 auto 80px;
    max-width: 220px;
    font-size: 40px;
    line-height: 1.1;
  }
  .so-much .full-list h5 {
    margin: 0 0 11px;
    max-width: 320px;
    text-align: left;
  }
  .so-much .full-list {
    text-align: left;
  }
}
@media (max-width: 428px) {
  .so-much img[alt="so-much-img"] {
    transform: scale(1.8);
  }
  .so-much h4 {
    margin: 0 auto 115px;
  }
  .options {
    margin-top: 45px;
  }
}
