.home-header {
  display: flex;
  width: 100%;
  top: 0;
  overflow: hidden;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.home-header .right-screens,
.home-header .left-screens {
  display: none;
}
@media (max-width: 650px) {
  .home-header {
    margin-top: -8%;
  }
}
