.overview {
  position: relative;
  z-index: 77;
}
.overview .white-background {
  padding: 36px 40px;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  max-width: calc(1440px - 25px * 2);
  margin: auto;
}
.content {
  display: grid;
  grid-column: span 12;
}
.overview h1 {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  /* margin-bottom: 30px; */
}

.overview h2 {
  font-size: 21px;
  line-height: 1.1904761905;
  font-weight: 600;
  letter-spacing: 0.011em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.overview p {
  margin-top: 0.3em;
  max-width: 655px;
  font-size: 19px;
  line-height: 1.4211026316;
  font-weight: 600;
  letter-spacing: 0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  height: auto;
  margin-bottom: 0;
}
.overview img {
  width: 100%;
}
.overview .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.overview .content-data {
  grid-column: span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.overview .grid-4 {
  grid-column: span 4;
}
.overview .grid-8 {
  grid-column: span 8;
}
.gray-background {
  background-color: #f5f5f7;
}
.overview .grid-6 {
  grid-column: span 6;
}
/*****************************title-div*******************************************/
.title-div {
  padding-top: 100px;
  padding-left: 35px;
}
.title-div h1 {
  font-size: 72px;
  line-height: 1.0555555556;
  font-weight: 600;
  letter-spacing: -0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  padding: 0 !important;
}
.title-div p {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.3334133333;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  width: 75%;
  margin-top: 0.8em;
  padding-bottom: 75px;
  max-width: 800px !important;
}
.overview .content-title {
  grid-column-start: 3;
}

.overview #visible-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.overview .overlay-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.66s cubic-bezier(0.66, 0, 0.01, 1) 0.66s,
    visibility 0s linear 1.32s;
  position: absolute;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 650px;
  padding: 36px 40px;
  max-width: 655px;
  border-radius: 30px;
  margin-top: 30px;
}

.overview .overlay-content p {
  transform: translateY(0);
  transition-delay: 0.66s;
  transition: all 0.66s cubic-bezier(0.66, 0, 0.2, 1);
}

.overview .vertical::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 612px;
  height: 682px;
  background-size: 612px 682px;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/vertical-before.png);
  left: -175px;
  top: -23px;
}
.overview .vertical .hardware {
  width: 262px;
  height: 528px;
  background-size: 262px 528px;
}
.overview .vertical .screen,
.overview .vertical .screen video {
  width: 244px;
  height: 510px;
  background-size: 244px 510px;
  background-repeat: no-repeat;
  border-radius: 30px;
}
.overview .vertical {
  width: 262px;
  height: 528px;
  display: block;
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}

.overview .vertical .hardware {
  width: 262px;
  height: 528px;
  background-size: 262px 528px;
}
sup a,
sup a:hover {
  color: inherit;
  text-decoration: none;
}
sup a:hover {
  color: #06c;
  text-decoration: none;
}
.overview a,
.overview ul li {
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.overview sup a,
.overview sup a:hover,
sup a,
sup a:hover {
  font-size: 10px;
  line-height: 1.4705882353;
  font-weight: 600;
}
.overview #mobile-layout .screen {
  margin-left: 8px;
  margin-top: 8px;
}
.overview .brand-new-ways h1 {
  max-width: 950px;
}
/*********************************end-title-div*****************************/
@media only screen and (max-width: 1290px) {
  .overview .brand-new-ways h1 {
    max-width: 750px;
  }
}
@media only screen and (max-width: 1068px) {
  .overview .grid-4,
  .overview .grid-8 {
    grid-column: span 6;
  }
  .overview h1 {
    font-size: 40px;
    line-height: 1.1;
  }
  .overview h2 {
    font-size: 19px;
  }
  .overview p {
    font-size: 17px;
  }
  .title-div h1 {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
  }
  .title-div p {
    font-size: 21px;
    line-height: 1.381002381;
    font-weight: 600;
    letter-spacing: 0.011em;
  }
  .overview .vertical {
    margin-bottom: 30px;
  }
  .overview .vertical .screen {
    border-radius: 20px !important;
  }
}
.overview h5 {
  font-size: 48px;
  line-height: 1.0834933333;
  font-weight: 600;
  letter-spacing: -0.003em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.large-6 {
  flex-basis: 50%;
  max-width: 50%;
  box-sizing: border-box;
  margin-top: 67px;
  padding: 0 42px;
}
.flex-content {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .overview .vertical::before {
    left: -185px;
  }
  .overview .brand-new-ways h1 {
    max-width: 895px;
  }
}
@media (max-width: 1068px) {
  .overview h5 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
  }
}
@media (max-width: 1050px) {
  .overview #mobile-layout.vertical .hardware {
    width: 196px;
    height: 394px;
    background-size: 196px 394px;
  }
  .overview .screen#overview-on,
  .overview .vertical .screen video {
    width: 184px;
    height: 382px;
  }
  .overview .vertical {
    width: 193px;
    height: 400px;
  }
  .overview .vertical::before {
    width: 452px;
    height: 510px;
    background-size: 452px 510px;
    left: -128px;
    top: -18px;
  }
  .overview .vertical .hardware {
    width: 298px;
    height: 602px;
    background-size: 298px 602px;
  }
  .overview .vertical .screen,
  .overview .vertical .screen video {
    width: 180px;
    height: 376px;
    background-size: 180px 375px;
  }
}

@media only screen and (max-width: 734px) {
  .grid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .overview h1 {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 32px;
  }

  .overview h2 {
    padding: 0;
  }
  .overview p {
    height: auto;
    padding: 0;
  }
  .overview .content-data {
    grid-template-columns: 100%;
  }
  .overview .white-background {
    grid-column: span 1;
    margin-bottom: 15px;
    margin-top: 0;
  }
  .title-div {
    /* padding-left: 50px;
      padding-right: 50px; */
    padding-left: 18px;
    padding-top: 80px;
  }

  .title-div h1 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
  }
  .title-div p {
    width: 100%;
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: 0.012em;
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: 0.012em;
  }
  .large-6 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 45px;
  }
  .overview h5 {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
  }
  .overview .current-content,
  .overview .overlay-content {
    margin-top: 0;
  }
  .overview .vertical {
    width: 222px;
    height: 446px;
  }
  .overview .vertical::before {
    left: -145px;
    top: -20px;
    width: 512px;
    height: 574px;
    background-size: 512px 574px;
  }
  .overview #mobile-layout.vertical .hardware {
    width: 222px;
    height: 446px;
    background-size: 222px 446px;
  }
  .overview .vertical .screen,
  .overview .vertical .screen video {
    width: 209px;
    height: 430px;
    background-size: 209px 430px;
  }
}

@media (max-width: 429px) {
  .overview .white-background {
    padding: 30px;
  }

  .title-div {
    overflow: hidden;
  }

  .overview .vertical {
    width: 222px;
    height: 446px;
  }
  .overview #mobile-layout.vertical .hardware {
    width: 222px;
    height: 446px;
    background-size: 222px 446px;
  }
  .overview .vertical .screen,
  .overview .vertical .screen video {
    width: 205px;
    height: 430px;
    background-size: 215px 430px !important;
    margin-left: 4px !important;
    border-radius: 26px !important;
  }
}
@media (max-width: 375px) {
  .overview .white-background,
  .overview .current-content,
  .overview .overlay-content {
    border-radius: 0;
  }
  .grid {
    padding: 0;
  }
  .title-div {
    padding: 30px;
    padding-bottom: 0;
  }
  .overview h1 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .overview .be-in-moment h1,
  .overview .brand-new-ways h1,
  .overview .intelligence h1,
  .overview .privacy h1,
  .overview .icloud h1 {
    padding: 0 !important;
  }
}
