.grid-portrait-mic {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 25px;
  overflow: hidden;
  position: relative;
}

.grid-portrait-mic .white-background {
  margin-top: 30px;
}

.grid-portrait-mic .data {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: flex-end;
  padding-bottom: 80px;
}
.grid-portrait-mic .current-content .data {
  position: relative;
}
.grid-portrait-mic h2 {
  color: #f63e54;
}

/* .grid-portrait-mic .invite-facetime p {
  height: 240px;
} */
.overview .grid-portrait-mic .overlay-content {
  margin-top: 0;
}
.grid-portrait-mic .current-content .screen#mic {
  background-image: url(../../../../assets/images/mic.jpg);
}
.grid-portrait-mic .grid-view .screen#grid-view-mobile {
  background-image: url(../../../../assets/images/grid-view.jpg);
}
.grid-portrait-mic .portrait-mode {
  background-image: url(../../../../assets/images/portrait.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-portrait-mic .portrait-mode h2,
.grid-portrait-mic .portrait-mode p {
  color: #fff;
}
.grid-portrait-mic .audio-waves {
  position: absolute;
  top: 50%;
  left: 0;
}
.grid-portrait-mic .overlay-content img {
  display: none;
}
.grid-portrait-mic .mic-mode .circle,
.grid-portrait-mic .face-time-links .circle {
  bottom: 0;
  right: 0;
}
.grid-portrait-mic .mic-mode .icon,
.grid-portrait-mic .face-time-links .icon {
  margin-top: 0;
}
.grid-portrait-mic .overlay-content h2,
.grid-portrait-mic .overlay-content p {
  color: #fff;
}

.grid-portrait-mic .current-content {
  height: 100%;
}
.grid-portrait-mic .mic-mode {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
}
.grid-portrait-mic .overlay-content {
  left: 0;
  background-color: #f63e54;
}

.grid-portrait-mic img {
  width: 100%;
}

@media only screen and (max-width: 1068px) {
  .grid-portrait-mic .mic-mode {
    grid-row-start: 2;
    grid-column-end: 7;
  }
  .grid-portrait-mic .invite-facetime {
    grid-row-start: 3;
    grid-column-end: 6;
    grid-column: span 12 !important;
  }
  .grid-portrait-mic {
    grid-template-rows: 802px 762px 800px;
  }
  .grid-portrait-mic .audio-waves {
    position: absolute;
    top: 43%;
  }
  .face-time-links .flex {
    padding-bottom: 145px;
  }
}
@media (max-width: 1050px) {
  .grid-portrait-mic .data {
    justify-content: flex-start;
  }
  .grid-portrait-mic .data {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 800px) {
  .grid-portrait-mic .current-content .vertical {
    margin: auto;
  }
  .grid-portrait-mic p {
    height: 300px;
  }
  .grid-portrait-mic .vertical .hardware {
    background-size: 288px 602px;
  }
  .grid-portrait-mic #mobile-layout .screen {
    border-radius: 42px;
  }
  .grid-portrait-mic .audio-waves {
    position: absolute;
    top: 50%;
  }
}
@media only screen and (max-width: 734px) {
  .grid-portrait-mic .grid-view #mobile-layout .screen,
  .grid-portrait-mic .portrait-mode #mobile-layout .screen {
    border-radius: 30px;
  }
  .invite-facetime img {
    transform: scale(1.5);
    margin: 60px auto !important;
  }
  .grid-portrait-mic {
    grid-template-columns: 100%;
  }

  .grid-portrait-mic .portrait-mode {
    grid-area: 2/1;
    max-width: 100%;
  }
  .grid-portrait-mic .mic-mode {
    grid-area: 3/1;
    grid-row-end: 3;
    min-height: 630px;
  }
  .grid-portrait-mic .grid-view,
  .grid-portrait-mic .portrait-mode {
    padding: 30px 30px 0 30px;
  }
  .grid-portrait-mic .portrait-mode {
    min-height: 630px;
  }
  .grid-portrait-mic .invite-facetime {
    grid-area: 5/1;
    grid-column-end: 2;
  }
  .grid-portrait-mic .face-time-links {
    max-width: 100%;
    grid-area: 4/1;
  }
  .grid-portrait-mic .current-content .vertical {
    margin-top: 15px;
  }

  .face-time-links .flex {
    padding-bottom: 150px;
    margin-top: 50px;
  }
  .grid-portrait-mic .invite-facetime {
    grid-column: span 1 !important;
  }
  .grid-portrait-mic p,
  .grid-portrait-mic .portrait-mode p {
    height: auto;
  }
  .grid-portrait-mic .current-content .data {
    padding-top: 50px;
    max-height: 430px;
  }
  .grid-portrait-mic .data {
    padding-top: 50px;
  }
  .grid-portrait-mic .grid-view .data {
    height: 490px;
  }
  .grid-portrait-mic .portrait-mode .data {
    height: 520px;
  }
  .grid-portrait-mic .audio-waves {
    top: 44%;
  }
}
@media (max-width: 480px) {
  .grid-portrait-mic .audio-waves {
    top: 50%;
  }
  .grid-portrait-mic .mic-mode,
  .grid-portrait-mic .current-content,
  .grid-portrait-mic .grid-view,
  .grid-portrait-mic .portrait-mode {
    border-radius: 0;
    margin-top: 14px;
  }
  .grid-portrait-mic .grid-view {
    margin-top: 28px;
  }
  .invite-facetime img {
    transform: scale(1.7);
    margin: 75px auto !important;
  }
}
@media (max-width: 280px) {
  .invite-facetime img {
    margin: 100px auto 30px !important;
  }
}
