.privacy h1,
.privacy h2 {
  color: #027fff;
}
.privacy h1 {
  font-size: 56px;
}
.privacy .privacy-content {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.privacy .privacy-content .vertical .screen#hide-email {
  background-image: url(../../../../assets/images/hide-email.jpg);
}
.privacy .privacy-content .vertical,
.privacy .privacy-content img {
  margin-top: 100px;
}
.privacy .title-div p {
  padding-bottom: 30px;
}
.privacy h1 {
  padding-top: 100px;
}

.privacy .white-background {
  margin-top: 30px;
}

.privacy .mail img {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
}
.privacy h3 {
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  max-width: 447px;
}
.privacy .circle {
  bottom: 0;
  right: 0;
}
.privacy #transformed-icon .circle {
  color: #027fff !important;
  fill: #027fff;
}
.privacy .current-content .circle {
  background-color: #86868b;
  color: #fff !important;
  fill: #fff;
}
.privacy .icon {
  margin-top: 0;
}
.privacy .overlay-content img {
  display: none;
}
.privacy .flex {
  height: 75%;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 575px;
  margin: auto;
}

.privacy .overlay-content h2,
.privacy .overlay-content p {
  color: #fff;
}

.privacy .current-content {
  height: 100%;
}

.privacy .overlay-content {
  left: 0;
  margin-top: 0;
  background-color: #027fff;
}

.privacy .vertical .screen#app-privacy {
  background-image: url(../../../../assets/images/privacy.jpg);
  border-radius: 63px;
}
.privacy .vertical {
  width: 476px;
  height: 632px;
}
.privacy .vertical::before {
  width: 1110px;
  height: 1238px;
  background-size: 1110px 1238px;
  background-repeat: no-repeat;
  left: -317px;
  top: -43px;
}
.privacy .vertical .hardware {
  width: 480px;
  height: 960px;
  background-size: 476px 960px;
}
.privacy .vertical .screen {
  width: 450px;
  height: 934px;
  background-size: 450px 934px;
}
.privacy .privacy-content .overlay-content {
  max-width: 100%;
}
@media only screen and (max-width: 1068px) {
  .privacy h3 {
    font-size: 48px;
  }
  .privacy .vertical {
    width: 298px;
    height: 447px;
  }
  .privacy .vertical::before {
    left: -506px;
    top: -67px;
  }
  .privacy .vertical .hardware {
    width: 298px;
    height: 602px;
    background-size: 298px 602px;
  }
  .privacy .vertical .screen {
    width: 278px;
    height: 582px;
    background-size: 278px 582px;
    border-radius: 36px !important;
  }
}
@media (max-width: 1050px) {
  .privacy #mobile-layout.vertical .hardware {
    width: 298px;
    height: 602px;
    background-size: 298px 602px;
  }
}
@media (max-width: 735px) {
  .privacy .privacy-content {
    grid-template-columns: 100%;
  }

  .privacy .white-background {
    margin-top: 0px;
  }
  .privacy h3 {
    font-size: 40px;
    max-width: 400px;
  }
  .privacy .privacy-content .vertical,
  .privacy .privacy-content img {
    margin-top: 0;
  }
  .privacy .flex {
    margin: 40px auto;
    padding-bottom: 190px;
    height: 100%;
  }

  .privacy .vertical .screen {
    background-size: 285px 582px !important;
  }
  .privacy .privacy-content .vertical {
    margin-top: 50px;
  }
}

@media (max-width: 735px) {
  .privacy .white-background {
    margin-bottom: 15px;
  }
  .privacy .privacy-content {
    grid-gap: 0px;
  }
}
@media (max-width: 280px) {
  .privacy .privacy-content .vertical {
    margin-top: 50px;
    height: 270px;
  }
  .privacy .vertical::before {
    left: -576px;
    top: -66px;
  }
  .privacy #mobile-layout.vertical .hardware {
    width: 216px;
    height: 430px;
    background-size: 219px 428px;
  }
  .privacy .vertical .screen {
    background-size: 208px 408px !important;
    width: 210px;
  }
}
