.main-screen {
  width: 306px;
  margin-right: -306px;
  height: 607px;
  top: initial;
  left: initial;
  position: relative;
  transform: matrix(10.1023, 0, 0, 10.1023, 0, 0);
  margin: 0 auto;
  grid-column-start: 2;
}
.main-screen .screen {
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/ios/ios-13/d/images/overview/hero/hero_vert_intro_screen__dqgd9gk21egm_large.jpg");
  width: 262px;
  height: 568px;
  background-size: 100% 100%;
  top: 17px;
  left: 22px;
  position: absolute;
}
.main-screen .hardware {
  width: 416px;
  height: 704px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 416px 704px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/ios/ios-13/d/images/overview/hero/hero_vert_light_hw__c010i4gou9ci_large.png");
}
/* @media (max-width: 600px) {
  .main-screen.transformed .screen,
  .main-screen.transformed .hardware {
    transform: scale(1.8);
  }
} */
