.top-nav {
  width: 100%;
  height: 44px;
  position: relative;
  z-index: 999999;
}
.navbar {
  height: 44px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1),
    height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.navbar a div {
  font-size: 11px;
  line-height: 3.66667;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: #f5f5f7;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 8px;
  box-sizing: border-box;
  height: 44px;
  vertical-align: top;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-offset: -7px;
}
.navbar .apple-icon {
  background-image: url(../../assets/images/apple-icon.svg);
  width: 14px;
}
.navbar .mac {
  background-image: url(../../assets/images/mac.svg);
  width: 1.91667em;
  max-width: 39.1px;
}
.navbar .ipad {
  background-size: 24px 44px;
  background-image: url(../../assets/images/ipad.svg);

  width: 2em;
  max-width: 40.8px;
}
.navbar .iphone {
  background-image: url(../../assets/images/iphone.svg);

  width: 3.16667em;
  max-width: 64.6px;
}
.navbar .watch {
  background-image: url(../../assets/images/watch.svg);

  width: 3em;
  max-width: 59.5px;
}
.navbar .airpods {
  background-repeat: no-repeat;
  background-image: url(../../assets/images/airpods.svg);

  width: 4em;
  max-width: 73.1px;
}
.navbar .tv-home {
  background-repeat: no-repeat;
  background-image: url(../../assets/images/tv-home.svg);

  width: 5.41667em;
}
.navbar .on-apple {
  background-image: url(../../assets/images/on-apple.svg);

  width: 7em;
  max-width: 136px;
}
.navbar .support {
  background-image: url(../../assets/images/support.svg);

  width: 4em;
  max-width: 74.8px;
}
.navbar .where-to-buy {
  background-image: url(../../assets/images/where.svg);

  width: 7em;
  max-width: 127.5px;
}
.navbar .search {
  background-size: 15px 88px;
  background-image: url(../../assets/images/search.svg);
  width: 25px;
  background-position: 0 0;
}
.navbar a,
.navbar a:hover {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #f5f5f7;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.navbar a {
  opacity: 0.8;
}
.navbar a:hover {
  opacity: 1;
}
.navbar .links {
  display: flex;
  width: 96%;
  justify-content: space-around;
}
.navbar a.brand {
  margin-right: 25px;
}
.navbar-dark .navbar-toggler {
  border: 0;
}
.navbar .navbar-toggler {
  padding: 0;
}
.navbar .navbar-icon {
  display: block;
  width: 1em;
  margin-top: 6px;
  height: 1px;
  background: #f5f5f7;
  opacity: 0.8;
}

@media (min-width: 992px) {
  .navbar .container {
    max-width: 1111px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 1111px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1024px;
  }
}
.navbar .navbar-toggler {
  position: absolute;
  z-index: 3;
  top: 9px;
  left: 9px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.navbar .navbar-icon {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  border-radius: 0.5px;
  position: absolute;
  left: 7px;
  z-index: 1;
}
.navbar .navbar-icon.icon1 {
  top: 1px;
}
.navbar .navbar-icon.icon2 {
  top: 7px;
}
.navbar .navbar-icon.icon1,
.navbar .navbar-icon.icon2 {
  transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s,
    -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: rotate(0deg);
}
.navbar#changed-background .navbar-toggler .icon1 {
  transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s,
    -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 9px;
  top: 7px;
}
.navbar#changed-background .navbar-toggler .icon2 {
  transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s,
    -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 9px;
}
@media (max-width: 833px) {
  .navbar .navbar-toggler {
    display: block !important;
  }

  #changed-background {
    height: 100vh;
    display: block;
    position: absolute;
    background: #000;
    -webkit-transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  }
  #default-background {
    height: 48px;
    display: block;
    position: relative;
    overflow-y: hidden;
    max-height: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    -webkit-transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1),
      height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
    transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1),
      height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  }
  .navbar {
    display: block;
  }
  .navbar .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    justify-content: center !important;
  }
  .navbar a.brand {
    margin: auto;
  }
  /* .navbar .links {
    overflow-y: scroll;
  } */
  .navbar .links.show {
    display: block;
  }
  .navbar .links.hide {
    display: none;
  }
  .navbar .links.show a {
    display: block;
    text-align: left;
    height: 53px;
    display: flex;
    align-items: center;
    transition: all 88s;
  }
  .navbar#changed-background {
    background-color: #000 !important;
  }
  .navbar a.where-to-buy,
  .navbar a.search {
    display: none !important;
  }
  .navbar a,
  .navbar a:hover {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
      "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }
  .navbar a:not(:last-child),
  .navbar a:not(:last-child):hover {
    border-bottom: 1px solid #424245;
  }
  .navbar a:hover {
    border-bottom: 0;
  }
  .navbar .links {
    width: 80%;
    margin: 0 auto;
  }
  .navbar .container {
    /* flex-direction: column; */
    display: block !important;
  }
  .navbar .navbar-toggler {
    position: absolute;
    top: 12px;
    z-index: 9999999;
  }
  .navbar a.brand {
    margin: 0 auto;
    display: block;
    border-bottom: 0;
    width: fit-content;
  }
  .navbar a div {
    background-position: left center;
    display: block;
    outline-offset: 0;
    padding: 0;
    width: 30em !important;
    max-width: none !important;
  }
  .navbar .mac {
    background-size: 32px 43px;
    background-image: url(../../assets/images/mac-mobile.svg);
  }
  .navbar#changed-background .links {
    overflow: auto;
  }

  .navbar .ipad {
    background-size: 32px 43px;
    background-image: url(../../assets/images/ipad-mobile.svg);
  }
  .navbar .iphone {
    background-size: 51px 43px;
    background-image: url(../../assets/images/iphone-mobile.svg);
  }
  .navbar .watch {
    background-size: 48px 43px;
    background-image: url(../../assets/images/watch-mobile.svg);
  }
  .navbar .airpods {
    background-size: 58px 43px;
    background-image: url(../../assets/images/airpods-mobile.svg);
  }
  .navbar .tv-home {
    background-size: 87px 43px;
    background-image: url(../../assets/images/tv-home-mobile.svg);
  }
  .navbar .on-apple {
    background-size: 108px 43px !important;
    background-image: url(../../assets/images/on-apple-mobile.svg);
  }
  .navbar .support {
    background-size: 61px 43px;
    background-image: url(../../assets/images/support-mobile.svg);
  }
  .navbar .where-to-buy {
    background-size: 105px 43px;
    background-image: url(../../assets/images/where-mobile.svg);
  }
  .navbar .search {
    display: none;
  }
  .navbar .apple-icon {
    width: 16px !important;
  }
}
@media (max-height: 530px) {
  .navbar#changed-background .links {
    overflow-y: scroll;
    height: 80vh;
  }
}
