.features .features-header {
  text-align: center;
  padding: 6.5em 0 7.75em;
}
.features .features-header h1 {
  font-size: 72px;
  line-height: 1.0555555556;
  font-weight: 600;
  letter-spacing: -0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.features .features-header p {
  margin-top: 0.725em;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  line-height: 1.2858342857;
  font-weight: 400;
  letter-spacing: 0.007em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
@media (max-width: 1068px) {
  .features .features-header h1 {
    font-size: 56px;
    line-height: 1.0714285714;
    letter-spacing: -0.005em;
  }
  .features .features-header p {
    margin-top: 0.9em;
    font-size: 21px;
    line-height: 1.381002381;
    letter-spacing: 0.011em;
  }
}
@media (max-width: 734px) {
  .features .features-header h1 {
    font-size: 44px;
    line-height: 1.0909090909;
    letter-spacing: -0.002em;
  }
  .features .features-header p {
    margin-top: 1.2em;
    font-size: 17px;
    line-height: 1.4705882353;
    letter-spacing: -0.022em;
  }
}
