.messages-memoji {
  padding-top: 90px;
}
.play-pause {
  z-index: 888899 !important;
}
.messages-memoji .content-data {
  grid-column-gap: 25px;
  display: grid;
  grid-column: span 12;
}
.messages-memoji h1 {
  width: max-content;
}
.messages-memoji .white-background {
  margin-top: 30px;
}
.messages-memoji .share-with-you img {
  margin-top: 120px;
  transform: scale(1.3);
}
.messages-memoji h1,
.messages-memoji h2 {
  color: #027fff;
}
.messages-memoji .new-memoji .img-container {
  padding: 70px 0;
}
.messages-memoji .vertical {
  width: 262px;
  height: 400px;
  display: block;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.messages-memoji .vertical .hardware {
  width: 262px;
  height: 528px;
  background-size: 262px 528px;
}
.messages-memoji .vertical .screen {
  width: 244px;
  height: 510px;
  background-size: 244px 510px;
  background-repeat: no-repeat;
  border-radius: 30px;
}
.messages-memoji #collections {
  background-image: url(https://www.apple.com/mideast/ios/ios-15/a/images/en/overview/stay-connected/messages-memoji/photo_collage_startframe__4xxs2rf03dum_large.jpg);
}
.xx {
  transition: all 0.6s linear;
  height: 200px;
  position: relative;
}

.messages-memoji video {
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 30px;
}
.messages-memoji .play-pause {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  color: #06c;
  margin-bottom: 40px;
  cursor: pointer;
  font-weight: 300;
}
.messages-memoji .play-pause:hover {
  text-decoration: underline;
}
.messages-memoji .fa {
  margin-left: 6px;
  color: #0066cccf;
}
.messages-memoji .vertical.mobile-scaled {
  margin-top: 0px;
  transform-origin: top;
  transform: matrix(1.8, 0, 0, 1.8, 0, 0);
}
.messages-memoji .vertical.mobile-default {
  margin-top: 20px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@media only screen and (max-width: 1068px) {
  .messages-memoji .vertical {
    width: 190px;
    height: 210px;
  }
  .messages-memoji .vertical.mobile-scaled {
    width: 200px;
    margin-right: auto;
    height: 210px;
  }
  .messages-memoji .vertical .hardware {
    width: 200px;
    background-size: 194px 400px;
  }
  .messages-memoji .vertical .screen {
    width: 180px;
  }
}

@media (max-width: 1000px) {
  .messages-memoji .share-with-you img {
    width: 500px;
  }
}
@media only screen and (max-width: 850px) {
  /* .messages-memoji .vertical.mobile-scaled {
    width: 160px;
  } */
  .messages-memoji .vertical .hardware {
    width: 160px;
    background-size: 160px 327px;
    /* height: 313px; */
  }
  /* .messages-memoji .vertical .screen {
    width: 152px;
    margin-left: 4px !important;
  } */
  /* .messages-memoji .vertical {
    width: 160px;
  } */
}
@media only screen and (max-width: 734px) {
  .messages-memoji img {
    width: 85% !important;
  }
  .messages-memoji h1 {
    margin-bottom: 23px;
  }
  .messages-memoji .share-app img {
    margin-top: 80px;
  }
  .messages-memoji .photo-collections {
    padding-bottom: 170px !important;
  }
  .messages-memoji .white-background {
    margin-top: 0;
  }
  .messages-memoji h1 {
    width: 238px;
  }
}
@media only screen and (max-width: 428px) {
  .messages-memoji img {
    width: 100% !important;
  }
  .messages-memoji .share-with-you img {
    margin-bottom: 90px;
    transform: scale(2);
  }
  .messages-memoji .vertical.mobile-scaled {
    width: 222px;
  }
  .messages-memoji .vertical.mobile-scaled {
    transform: matrix(1.4, 0, 0, 1.4, 0, 0);
  }
  .messages-memoji {
    padding-top: 75px;
  }
}
@media only screen and (max-width: 280px) {
  /* .messages-memoji .vertical.mobile-scaled {
    width: 130px;
  } */
  .messages-memoji .vertical .hardware {
    width: 130px;
    background-size: 130px 400px;
  }
  .messages-memoji .vertical .screen {
    width: 122px;
    border-radius: 1px;
    margin-top: 7px !important;
  }
  .messages-memoji video {
    border-radius: 13px;
  }
}
