.card-navbar .container {
  display: flex;
}
.card-navbar a {
  display: inline-block;
  line-height: 22px;
  white-space: nowrap;
  opacity: 0.88;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: black;
}

.card-navbar#collapsed-menu nav a:hover {
  color: #2997ff;
  text-decoration: none;
}
.card-navbar h5 {
  color: #000;
  transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  opacity: 0.88;
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.card-navbar .row {
  margin: 0;
}
.card-navbar .row i {
  display: none;
  font-size: 30px;
  width: 5%;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
    transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
}
.card-navbar .row i:hover {
  opacity: 1;
}
.card-navbar .btn {
  background: #18181a;
  outline: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px;
  border: 0;
  height: fit-content;
  margin-top: 2px;
}
.card-navbar .btn:hover {
  background: #272729;
}
.card-navbar#expanded-menu {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(247, 158, 158, 0.9);
  /* rgba(255, 255, 255, 0.9) */
  transition: background-color 0.5s ease;
  transition-property: background-color, backdrop-filter,
    -webkit-backdrop-filter, height;
  height: 300px;
  max-height: 300px;
}
.card-navbar#collapsed-menu {
  height: 58px;
  transition: background-color 0.5s ease;
  transition-property: background-color, backdrop-filter,
    -webkit-backdrop-filter, height;
}

@media (min-width: 992px) {
  .card-navbar .container {
    max-width: 1111px;
  }
}
@media (min-width: 768px) {
  .card-navbar .container {
    max-width: 1111px;
  }
}
@media (min-width: 1200px) {
  .card-navbar .container {
    max-width: 1024px;
  }
}
@media (max-width: 768.5px) {
  .card-navbar .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;
  }
  .card-navbar .btn {
    order: 1;
    margin-left: auto;
  }
  .card-navbar nav {
    order: 2;
  }
  .card-navbar h5 {
    display: none;
  }
  .card-navbar nav a {
    display: block;
  }
  .card-navbar .row {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .card-navbar .btn {
    margin-left: 0;
  }
  .card-navbar .row i {
    display: block;
  }
  .card-navbar#collapsed-menu nav {
    opacity: 0;
  }
  .card-navbar#expanded-menu nav {
    opacity: 1;
  }
  .card-navbar#expanded-menu nav {
    padding: 4px 24px 24px;
    height: 242px;
    overflow-x: scroll;
  }
  .card-navbar#expanded-menu nav a {
    color: #000;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* height: 100%; */
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s ease;
    transition-property: transform, opacity, -webkit-transform;
  }
  .card-navbar#expanded-menu nav a:hover {
    color: #2997ff;
    text-decoration: none;
  }
  .card-navbar#expanded-menu nav a:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.181818);
  }
  .card-navbar#expanded-menu nav {
    transition: 1.5s ease;
    transition-property: transform, opacity, -webkit-transform;
  }
}
