.update-sdk .upate-sdk-content {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  text-align: center;
}
.update-sdk .white-background {
  margin-top: 30px;
}
.update-sdk .update {
  padding: 0;
}
.update-sdk .update h5,
.update-sdk .sdk h5 {
  margin-left: auto;
  margin-right: auto;
}
.update-sdk .update h5 {
  width: 432px;
}
.update-sdk .sdk h5 {
  width: 400px;
}
.update-sdk a,
.update-sdk a:hover {
  margin-top: 30px;
  display: block;
}
.update-sdk a i {
  margin-left: 6px;
}
.update-sdk .update .figure {
  width: 682px;
  height: 594px;
  background-size: 682px 594px;
  margin-bottom: -80px;
  background-image: url(../../../../assets/images/update.jpg);
  margin-left: -40px;
}
.update-sdk .sdk .figure {
  width: 136px;
  height: 136px;
  background-size: 136px 136px;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/images/sdk.png);
  margin: 170px auto;
}
@media (max-width: 1068px) {
  .update-sdk .update .figure {
    margin-bottom: -50px;
    width: 504px;
    height: 377px;
    background-size: 504px 377px;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/update-small.jpg);
    /* margin-left: 0; */
  }
  .update-sdk .sdk .figure {
    margin: 78px auto;
  }
}
@media (max-width: 900px) {
  .update-sdk .sdk h5,
  .update-sdk .update h5 {
    width: 270px;
  }
  .update-sdk a {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 735px) {
  .update-sdk .upate-sdk-content {
    grid-template-columns: 100%;
  }
  .update-sdk .white-background {
    margin-top: 0;
  }
  .update-sdk .update {
    margin-top: 15px;
  }
  .update-sdk .update,
  .update-sdk .sdk {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    align-items: center;
  }
  .update-sdk .figure {
    order: 2;
  }
  .update-sdk .update .figure {
    width: 100%;
    margin-bottom: 0;
    background-size: cover;
    height: 271px;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/update-mobile.jpg);
    margin-left: 0;
  }
  .update-sdk .data {
    padding: 36px 40px;
  }
  .update-sdk a {
    width: auto;
  }
  .update-sdk .sdk .figure {
    margin-top: 70px;
    margin-bottom: 60px;
    width: 88px;
    height: 88px;
    background-size: 88px 88px;
    background-repeat: no-repeat;
  }
  .update-sdk .sdk h5,
  .update-sdk .update h5 {
    width: auto;
  }
}
@media (max-width: 428px) {
  .update-sdk .update .figure {
    width: 400px;
    height: 271px;
    background-size: 400px 271px;
    background-image: url(../../../../assets/images/update-xs.jpg);
  }
}
@media (max-width: 375px) {
  .update-sdk .update,
  .update-sdk .sdk {
    border-radius: 0;
  }
  .update-sdk .upate-sdk-content {
    padding: 0 15px;
  }
}
