.icon {
  margin-top: -50px;
  cursor: pointer;
}
.circle svg {
  fill: currentColor;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#transformed-icon .circle {
  color: #f63e54;
  fill: #f63e54;
  background-color: #fff;
  transform: rotate(45deg);
  transition-delay: 0s;
}
.circle {
  position: absolute;
  bottom: 2%;
  z-index: 11;
  width: 40px;
  height: 40px;
  background-color: #86868b;
  opacity: 0.92;
  color: white;
  border-radius: 50%;
  right: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transition: background-color 0.66s cubic-bezier(0.66, 0, 0.01, 1) 0.66s,
    color 0.66s cubic-bezier(0.66, 0, 0.01, 1) 0.66s,
    transform 0.66s cubic-bezier(0.66, 0, 0.2, 1), opacity 100ms linear;
}

@media (max-width: 800px) {
  .icon {
    bottom: 0%;
  }
  .circle {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 734px) {
  .icon {
    bottom: 0%;
  }
}
@media (max-width: 340px) {
  .icon {
    bottom: 0%;
  }
}
