.ios13-nav {
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  padding: 14px 0 0;
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  z-index: 8;
}
.ios13-nav.is-scroll {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: saturate(180%) blur(20px);
}
.ios13-nav a,
.ios13-nav a:hover {
  color: #000;
  white-space: nowrap;
  opacity: 0.88;
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  display: block;
  text-decoration: none;
  width: fit-content;
  margin-bottom: 13px;
  transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}
.ios13-nav .container {
  border-bottom: 1px solid darkgrey;
}
@media (min-width: 992px) {
  .ios13-nav .container {
    max-width: 1111px;
  }
}
@media (min-width: 768px) {
  .ios13-nav .container {
    max-width: 1111px;
  }
}
@media (min-width: 1200px) {
  .ios13-nav .container {
    max-width: 1024px;
  }
}
@media (max-width: 768.5px) {
  .ios13-nav .container {
    width: 100%;
    max-width: 100%;
    justify-content: center !important;
  }
  .ios13-nav .container {
    /* flex-direction: column; */
    display: block !important;
  }
}
