.icloud h1,
.icloud h2 {
  color: #d71bce;
}
.icloud .icloud-content {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.icloud .icloud-content .vertical .screen#hide-email {
  background-image: url(../../../../assets/images/hide-email.jpg);
}
.icloud .icloud-content .vertical,
.icloud .icloud-content img {
  margin-top: 100px;
}
.icloud .title-div p {
  padding-bottom: 30px;
}
@media (max-width: 1070px) {
  .icloud .icloud-content {
    grid-template-columns: 100%;
  }
  .icloud .icloud-content .grid-6 {
    grid-column: span 1;
    margin-bottom: 15px;
  }
  .icloud .icloud-content img {
    width: 85%;
  }
}
@media (max-width: 735px) {
  .icloud .icloud-content img {
    margin-bottom: 100px;
  }
}
