.compatible {
  overflow: hidden;
  position: relative;
  color: #fff;
  margin-top: 0;
}
.compatible .compatible-content {
  z-index: 5;
  padding-top: 100px;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  position: relative;
}
.compatible .large-6 {
  padding: 0;
}
.compatible .types {
  z-index: 5;
  /* padding-top: 180px;
  padding-bottom: 150px; */
}
.compatible .compatible-figure {
  background-image: url(../../../../assets/images/compatible.jpg);
  color: #fff;
  background-size: cover;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 150px;
  background-size: 3008px 797px;
  width: 3120px;
  height: 797px;
  background-size: 3120px 715px;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -1504px;
}
.compatible .links {
  margin-top: 20px;
}
.compatible a,
.compatible a:hover {
  color: #fff;
  display: block;
  margin-top: 10px;
}
.compatible a i {
  margin-left: 5px;
}
.compatible ul {
  list-style: none;
  column-count: 2;
  padding-left: 0em;
}
.compatible ul li {
  margin-top: 6px;
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
  .compatible .compatible-figure {
    background-image: url(../../../../assets/images/compatible-large.jpg);
  }
}
@media (max-width: 1068px) {
  .compatible {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
  .compatible .compatible-figure {
    left: 50%;
    margin-left: -534px;
    width: 1068px;
    height: 721px;
    background-size: 1068px 721px;
    background-image: url(../../../../assets/images/compatible-small.jpg);
  }
  .compatible .left {
    padding-right: 40px;
  }
  .compatible .compatible-content {
    padding-left: 32px;
    width: 100%;
  }
}
@media (max-width: 735px) {
  .compatible .compatible-content {
    max-width: 480px;
    padding-top: 82px;
    margin-top: 0;
  }
  .compatible ul {
    column-count: 1;
  }
  .compatible .compatible-figure {
    left: 50%;
    margin-left: -368px;
    height: 100%;
    background-size: cover;

    width: 736px;
    background-image: url(../../../../assets/images/compatible-mobile.jpg);
  }
  .compatible .types.large-6 {
    margin-top: 45px;
  }
  .compatible .large-6 {
    margin-top: 0;
  }
}
