.info {
  padding: 17px 0 11px;
  padding-top: 100px;
}
.info .info-content {
  margin: 0 auto;
  max-width: 980px;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 17px;
}
.info ul {
  padding-left: 14px;
}
.info p,
.info ul li {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #6e6e73;
  padding-bottom: 0.8em;
}
.info p {
  padding-bottom: 0.8em;
}
.info ul li {
  list-style-type: decimal;
}
@media (max-width: 735px) {
  .info {
    padding-top: 50px;
  }
  .info .content,
  .info .info-content {
    max-width: 950px;
  }
}
@media (max-width: 375px) {
  .info {
    padding: 50px 15px 0;
  }
}
