.camera-translation .white-background {
  margin-top: 30px;
}
.camera-translation .live-text-camera {
  background-image: url(../../../../../assets/images/camera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.camera-translation .live-text-camera h2,
.camera-translation .live-text-camera p {
  color: #fff;
}
.camera-translation .vertical .screen#translation {
  background-image: url(../../../../../assets/images/translation.jpg);
}

@media (max-width: 735px) {
  .camera-translation .live-text-camera {
    min-height: 617px;
  }
  .camera-translation .white-background {
    margin-top: 0px;
  }
  .camera-translation {
    padding-top: 0;
  }
}
