.apple-card-home .card-navbar a[value="overview"],
.apple-card-home .card-navbar a[value="overview"]:hover,
.apple-card-home .card-navbar#collapsed-menu nav a[value="overview"]:hover {
  opacity: 0.56;
  cursor: default;
  color: black;
}
