.focus h1,
.focus h2 {
  color: #8876fe;
}
.focus .focus-content {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.focus .vertical {
  margin-top: 100px;
}

.focus .screen#focus-on {
  background-image: url(../../../../assets/images/focus-on.jpg);
}
.focus .signal-status img {
  margin-top: 100px;
}
.focus .focus-content .signal-small-img {
  display: none;
}

@media (max-width: 1068px) {
  .focus .focus-content .signal-small-img {
    display: block;
  }
  .focus .focus-content .signal-img {
    display: none;
  }
}
@media (max-width: 770px) {
  .focus .focus-content #mobile-layout .screen {
    margin-top: 8px;
  }
}
@media (max-width: 734px) {
  .focus {
    padding-top: 75px;
  }
  .focus .focus-content {
    grid-template-columns: 100%;
  }
}
@media (max-width: 428px) {
  .focus .signal-status img {
    margin-top: 50px;
  }
}
