.safari {
  padding-top: 90px;
}
.safari .white-background {
  margin-top: 30px;
}

.safari h1,
.safari h2 {
  color: #049cb7;
}
.safari .bottom-tab p,
.safari .tab-group p {
  height: 145px !important;
}
.safari .img-container {
  height: 88%;
}
.safari .safari-content {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column: span 12;
}

.safari .signal-status img {
  margin-top: 100px;
}
.safari .play-pause {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  color: #06c;
  cursor: pointer;
  font-weight: 300;
  position: relative;
  z-index: 8;
  height: auto !important;
}
.safari .play-pause:hover {
  text-decoration: underline;
}
.safari .vertical .screen#tab-img {
  background-image: url(../../../../assets/images/tab-group.jpg);
}
.safari .img-container {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
/********************************************************************************/

.safari h3 {
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-bottom: -30px;
}
.safari .flex {
  height: 85%;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.safari .overlay-content img {
  display: none;
}
.invite-facetime {
  grid-column: span 8;
  grid-area: 2/2;
  max-width: 100% !important;
  overflow: hidden;
}
.invite-facetime p {
  height: 170px;
}

.safari .icon {
  margin-top: 0 !important;
}
.safari .icon .circle {
  right: 0;
}
.safari figure {
  margin: 0;
}
.safari .overlay-content h2,
.safari .overlay-content p {
  color: #fff;
}
.safari .overlay-content {
  left: 0;
  margin-top: 0;
  background-color: #2196f3;
}
.safari .current-content {
  height: 100%;
}
.safari #transformed-icon .circle {
  color: #049cb7;
}
.safari .invite-facetime img {
  transform: scale(1);
  width: 91%;
  margin: auto;
  display: block;
  margin-top: 80px;
}
.safari .invite-facetime p {
  height: auto;
}
@media only screen and (max-width: 1068px) {
  .safari h3 {
    font-size: 48px;
    margin-bottom: -70px;
  }
}
@media only screen and (max-width: 850px) {
  .safari h3 {
    margin-bottom: -55px;
  }
}
@media only screen and (max-width: 734px) {
  .safari h3 {
    font-size: 40px;
  }
  .safari .tab-group {
    grid-row-start: 2;
  }
  .safari .face-time-links {
    grid-row-start: 3;
  }
  .safari .invite-facetime {
    grid-row-start: 4;
  }
  .safari .flex {
    height: 100%;
    margin-top: 60px;
    padding-bottom: 115px;
  }
  .safari .white-background {
    margin-top: 0px;
  }
}

/*********************************************************************************/

@media (max-width: 850px) {
  .safari .bottom-tab p,
  .safari .tab-group p {
    height: 180px !important;
  }
}
@media (max-width: 734px) {
  .safari {
    padding-top: 75px;
  }
  .safari .safari-content {
    grid-template-columns: 100%;
  }
}

.safari p.play-pause {
  height: auto !important;
}
@media (max-width: 280px) {
  .safari h3 {
    margin-bottom: -13px;
  }
  .safari .flex {
    margin-top: 35px;
  }
}
