.notifications h1 {
  margin-top: 90px;
  margin-bottom: 23px;
}
.notifications h1,
.notifications .notification-summary h2 {
  color: #8d1287;
}
.notifications .content-data {
  grid-gap: 25px;
  display: grid;
  grid-column: span 12;
}
.notifications .redesigned {
  background: linear-gradient(to top right, #1f2d3d, #75a3cf) !important;
}
.notifications .redesigned h2,
.notifications .redesigned p {
  color: #fff;
}
.notifications .img-container {
  margin-bottom: 150px;
  margin-top: 30px;
}
.notifications .vertical .screen#summary {
  background-image: url(../../../../assets/images/summary.jpg);
  border-radius: 30px;
  background-repeat: no-repeat;
}
.notifications .vertical {
  margin-top: 70px;
}

.notifications .notification-summary .vertical {
  transform-origin: top;
}
.notifications .notification-summary .vertical.img-default {
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.notifications .notification-summary .vertical.img-scaled {
  transform: matrix(1.8, 0, 0, 1.8, 0, 0);
}

@media only screen and (max-width: 1068px) {
}

@media (max-width: 1050px) {
}
@media only screen and (max-width: 850px) {
  .notifications .vertical.mobile-scaled {
    width: 160px;
  }

  .notifications .notification-summary .vertical.img-scaled {
    transform: matrix(1.5, 0, 0, 1.5, 0, 0);
  }
}
@media only screen and (max-width: 735px) {
  .notifications .notification-summary .vertical.img-scaled {
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 428px) {
  .notifications .content-data {
    grid-gap: 0px;
  }
  .notifications h1 {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 330px) {
  .notifications .notification-summary .vertical.img-scaled {
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  }
}
@media only screen and (max-width: 280px) {
  .notifications .vertical.mobile-scaled {
    width: 130px;
  }
  .notifications .notification-summary .vertical.img-default {
    transform: matrix(0.8, 0, 0, 0.8, 0, 0);
  }
  .notifications .notification-summary .vertical.img-scaled {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
