.content {
  padding-left: 25px;
  padding-right: 25px;
}
#face-time h1,
#face-time h2 {
  color: #f63e54;
}

#face-time p {
  max-width: 700px;
}
#face-time img {
  width: 80%;
  left: 9.4%;
  position: relative;
}
#face-time #facetime-mobile-img {
  display: none;
}
@media only screen and (max-width: 1068px) {
  #face-time img {
    margin-left: 92px;
  }
}

@media (max-width: 940px) {
  #face-time img {
    margin-left: 10px;
    width: 100%;
  }
}
@media only screen and (max-width: 734px) {
  .content {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  #face-time #facetime-mobile-img {
    display: block;
    left: 0;
    margin-left: -27px;
    margin-top: 50px;
  }
  #face-time .web-img {
    display: none;
  }
  #face-time {
    padding-top: 0;
  }
}

@media (max-width: 428px) {
  .content {
    max-width: 100%;
  }
  #face-time p {
    padding: 0;
    width: 100%;
  }
  #face-time .share-play {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0;
  }
}
@media (max-width: 360px) {
  #face-time .share-play {
    border-radius: 0;
  }
}
