#mobile-layout.horizontal .hardware {
  background-image: url(../../../assets/images/hardware.png);
  background-repeat: no-repeat;
  pointer-events: none;
}
#mobile-layout.vertical .hardware {
  background-image: url(../../../assets/images/vertical-hardware.png);
  background-repeat: no-repeat;
  pointer-events: none;
}
#mobile-layout .hardware,
#mobile-layout .screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#mobile-layout .screen {
  margin-left: 8px;
  margin-top: 8px;
}

#mobile-layout .screen {
  z-index: 2 !important;
}
#mobile-layout .hardware {
  position: relative;
  z-index: 4 !important;
}
