.footer .footer-content {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.footer .footer-logo {
  width: 14px;
  height: 72px;
  background-size: 14px 72px;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/logo.svg);
  height: 18px;
  display: block;
  position: relative;
  z-index: 2;
  color: transparent;
  top: 2px;
  cursor: pointer;
}
.footer ol {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 8;
}
.footer ol li:not(:first-child):before {
  width: 8px;
  height: 36px;
  background-size: 8px 36px;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/arrow.svg);
  margin-right: 11px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  height: 18px;
  background-position-y: 100%;
  margin-left: 11px;
}
.footer .footer-logo:hover {
  color: #424245;
}
.footer a,
.footer a:hover,
.footer li,
.footer p {
  color: #424245;
  font-size: 13px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 25px;
  text-align: inherit;
}
.footer .row,
.footer .container-fluid,
.footer .col-3,
.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul {
  list-style: none;
}
.footer h4 {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 0.8em;
}
.footer .bottom-footer {
  padding-top: 34px;
}
.footer .bottom-footer p {
  margin-right: 30px;
}
.footer .bottom-footer .find-retailer {
  border-bottom: 1px solid #d2d2d7;
  margin-bottom: 7px;
  padding-bottom: 8px;
}
.footer .bottom-footer p a,
.footer .bottom-footer p a:hover {
  color: #06c;
}
.footer .bottom-footer ul {
  display: flex;
}
.footer .bottom-footer .row {
  justify-content: space-between;
}
.footer .bottom-footer .links a,
.footer .bottom-footer .links a:hover {
  margin-right: 7px;
  padding-right: 10px;
  display: inline-block;
  white-space: nowrap;
  border-right: 1px solid #d2d2d7;
}
.footer .bottom-footer .links a.site-map,
.footer .bottom-footer .links a.arabic {
  border: 0;
}
.footer .mobile-footer {
  display: none;
}
.footer .mobile-footer h4 {
  font-weight: 400;
  color: #6e6e73;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  border-top: 1px solid #d2d2d7;
  overflow: hidden;
  pointer-events: auto;
  margin-bottom: 0;
  z-index: 5;
}
.footer .mobile-footer h4.in-active-title::after {
  content: "+";
  float: right;
  font-size: 14px;
  font-weight: normal;
  margin-top: -2px;
  margin-right: 8px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.footer .mobile-footer h4.active-title::after {
  content: "+";
  float: right;
  font-size: 14px;
  font-weight: normal;
  margin-top: -2px;
  margin-right: 8px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  transform: rotate(45deg) scale(1.08);
}
.footer .details-link {
  position: static;
  padding: 0px 14px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
.footer .details-link a,
.footer .details-link a:hover {
  width: 100%;
  display: block;
}
.footer .mobile-footer h4:hover {
  color: #000;
}

.footer .active {
  visibility: visible;
  z-index: 1;
  -webkit-transform: none;
  transform: none;
  position: relative;
}
.footer .in-active {
  z-index: -1;
  visibility: hidden;
  position: absolute;
  transform: translateY(-100px);
}
@media (max-width: 833px) {
  .footer .bottom-footer {
    margin-bottom: 25px;
  }
  .footer .bottom-footer .row {
    flex-direction: column;
    order: 2;
  }
  .footer ol {
    margin-bottom: 0;
    padding: 3px 0 13px;
  }
  .footer .bottom-footer p {
    margin-bottom: 0;
  }
  .footer .bottom-footer .find-retailer {
    border: none;
    margin: 0;
  }
  .footer .bottom-footer .languages {
    padding-bottom: 8px;
  }
  .footer .web-footer {
    display: none;
  }
  .footer .mobile-footer {
    display: block;
  }
}
@media (max-width: 734px) {
  .footer .content {
    max-width: 950px;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
