#health {
  padding-top: 60px;
}
#health h1,
#health h2 {
  color: #8876fe;
}
#health #health-mobile-img {
  display: none;
}
@media (max-width: 735px) {
  #health img {
    display: none;
  }
  #health #health-mobile-img {
    display: block;
    transform: scale(1.6);
    margin-top: 180px;
  }
  #health .white-background {
    margin-top: 15px;
  }
}
