.key-features h2 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  padding-bottom: 22px;
  border-bottom: 1px solid #d2d2d7;
}
.key-features .row {
  margin: 0;
  justify-content: space-between;
}
.key-features .key-feature-content {
  padding-top: 3em;
}
.key-features .key-feature-content:not(:last-child) {
  border-bottom: 1px solid #d2d2d7;
}

.key-features .even {
  background: white;
  margin-top: -2px;
}
.key-features .right-content {
  display: grid;
  grid-template-columns: 375px 375px;
}
.key-features h3 {
  margin-bottom: 11px;
  color: #1d1d1f;
  margin-bottom: 8px;
  font-size: 19.89px;
  font-weight: 600;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial;
}
.key-features h4 {
  margin-top: 0;
  margin-bottom: -13px;
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 600;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.key-features p {
  margin-top: 0.8em;
  font-size: 17px;
  line-height: 1.4705882353;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.key-features .content-data {
  padding: 0 0 54px 65px;
}
@media (max-width: 1068px) {
  .key-features h2 {
    margin-top: 0.9em;
    font-size: 21px;
    line-height: 1.381002381;
    letter-spacing: 0.011em;
    padding-bottom: 1.05em;
    margin-bottom: 0;
  }

  .key-features .right-content {
    display: grid;
    grid-template-columns: 300px 300px;
  }
  .key-features h3 {
    margin-bottom: 11px;
  }
  .key-features h4 {
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 600;
    letter-spacing: -0.022em;
  }
}
@media (max-width: 734px) {
  .key-features h2 {
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: 0.007em;
    border-bottom: 0;
  }
  .key-features .key-features-content {
    padding-top: 0em;
  }
  .key-features .row {
    flex-direction: column;
  }
  .key-features .content-data {
    padding: 0;
  }
  .key-features .right-content {
    display: grid;
    grid-template-columns: 100%;
  }
  .key-features h3 {
    padding-bottom: 0.55em;
    margin-bottom: 0;
    border-bottom: 1px solid #d2d2d7;
    padding: 0.9411764706em 0;
  }
  .key-features h4 {
    margin-top: 1.15em;
    line-height: 1.4705882353;
    letter-spacing: -0.022em;
  }
  .key-features .key-feature-content {
    padding-top: 0;
  }
  .key-features .key-feature-content:not(:last-child) {
    border-bottom: 0;
  }
  .key-features .even {
    margin-top: 60px;
  }
}
