.ios15-overview-header {
  display: grid;
  background: linear-gradient(180deg, #f5f5f7, white 90%);
  justify-content: center;
  align-content: center;
  width: 100%;
  grid-template-columns: 274px 274px 274px 274px 192px 274px 274px 274px 274px;
  grid-column-gap: 50px;
  margin-top: calc(330px * -1 + 52px);
  grid-template-rows: 274px 274px 192px 276px 276px auto;
  grid-gap: 82px;
  overflow: hidden;
  padding-bottom: 122px;
}
.ios15-overview-header .ios15-img {
  width: 192px;
  height: 192px;
  background-size: 192px 192px;
  grid-area: 3/5;
  transition: transform 0.4s linear;
}
.ios15-overview-header .horizontal {
  width: 552px;
  height: 274px;
  display: block;
  /* grid-column-end: span 2; */
  position: relative;
  margin-top: calc(274px * -1 - 192px * -1 - -2px);
}
.ios15-overview-header .horizontal::before {
  background-image: url(../../../../assets/images/horizontal-before.png);
  width: 631px;
  height: 710px;
  background-size: 703px 494px;
  background-repeat: no-repeat;
  top: -21px;
  content: "";
  position: absolute;
  left: -15px;
}
.ios15-overview-header .vertical::before {
  background-image: url(https://www.apple.com/v/ios/ios-15/b/images/overview/hero/iphone_shadow_vertical__0hx7jtun7k2y_large_2x.png);
  width: 478px;
  height: 710px;
  background-size: 478px 710px;
  background-repeat: no-repeat;
  left: -22px;
  top: -25px;
  content: "";
  position: absolute;
}
.ios15-overview-header .vertical {
  width: 274px;
  height: 552px;
  display: block;
  position: relative;
  grid-row-end: span 2;
  margin-left: auto;
  margin-right: auto;
}

.ios15-overview-header .horizontal .hardware {
  width: 552px;
  height: 274px;
  background-size: 552px 274px;
  pointer-events: none;
}
.ios15-overview-header .vertical .hardware {
  width: 274px;
  height: 552px;
  background-size: 274px 552px;
  pointer-events: none;
}
.ios15-overview-header .horizontal .screen {
  width: 536px;
  height: 258px;
  background-size: 536px 258px;
  border-radius: 27px;
  background-repeat: no-repeat;
}
.ios15-overview-header .vertical .screen {
  width: 258px;
  height: 536px;
  background-size: 258px 536px;
  background-repeat: no-repeat;
  border-radius: 27px;
}

.ios15-overview-header .horizontal .screen#notes {
  background-image: url(../../../../assets/images/notes.jpg);
}
.ios15-overview-header .horizontal.notes-div {
  grid-area: 2/1;
  justify-self: end;
  grid-column-end: span 2;
}
.ios15-overview-header .vertical.home-div {
  grid-area: 2/3;
  /* margin-top: 100px; */
}
.ios15-overview-header .vertical .screen#home {
  background-image: url(../../../../assets/images/home.jpg);
}
.ios15-overview-header .vertical.map-div {
  grid-area: 2/4;
  /* margin-top: 100px; */
}
.ios15-overview-header .vertical .screen#map {
  background-image: url(../../../../assets/images/map.jpg);
}
.ios15-overview-header .horizontal.mixes-div {
  grid-area: 2/5;
  grid-column-end: span 2;
  margin-top: 0;
}
.ios15-overview-header .horizontal .screen#mixes {
  background-image: url(../../../../assets/images/mixes.jpg);
}
.ios15-overview-header .vertical.notifications-div {
  grid-area: 1/7;
  align-self: flex-end;
  grid-row-end: span 2;
}
.ios15-overview-header .vertical .screen#notifications {
  background-image: url(../../../../assets/images/notification.jpg);
}
.ios15-overview-header .vertical.icons-div {
  grid-area: 2/8;
  /* margin-top: 100px; */
}
.ios15-overview-header .vertical .screen#icons {
  background-image: url(../../../../assets/images/icons.jpg);
}
.ios15-overview-header .vertical.disturb-div {
  grid-area: 1/9;
}
.ios15-overview-header .vertical .screen#disturb {
  background-image: url(../../../../assets/images/distrub.jpg);
}
.ios15-overview-header .vertical.face-time-div {
  grid-area: 3/1;
  margin-top: calc(274px * -1 - 192px * -1 - -2px);
}
.ios15-overview-header .vertical .screen#face-time {
  background-image: url(../../../../assets/images/faceTime.jpg);
}
.ios15-overview-header .vertical.faces-div {
  grid-area: 3/2;
  margin-top: calc(274px * -1 - 192px * -1 - -2px);
}
.ios15-overview-header .vertical .screen#faces {
  background-image: url(../../../../assets/images/faces.jpg);
}
.ios15-overview-header .vertical.background-div {
  grid-area: 4/3;
}
.ios15-overview-header .vertical .screen#background {
  background-image: url(../../../../assets/images/background.jpg);
}
.ios15-overview-header .horizontal.sport-div {
  grid-area: 4/4;
  margin-top: 0;
}
.ios15-overview-header .horizontal .screen#sport {
  background-image: url(../../../../assets/images/sport.jpg);
}
.ios15-overview-header .vertical.chat-div {
  grid-area: 3/6;
}
.ios15-overview-header .vertical .screen#chat {
  background-image: url(../../../../assets/images/chat.jpg);
}
.ios15-overview-header .vertical.weather-div {
  grid-area: 3/7;
  /* margin-top: calc(274px * -1 - 192px * -1 - -2px); */
}
.ios15-overview-header .vertical .screen#weather {
  background-image: url(../../../../assets/images/weather.jpg);
}
.ios15-overview-header .vertical.news-div {
  grid-area: 4/8;
}
.ios15-overview-header .vertical .screen#news {
  background-image: url(../../../../assets/images/news.jpg);
}
.ios15-overview-header .horizontal.cartoon-div {
  grid-area: 3/9;
}
.ios15-overview-header .horizontal .screen#cartoon {
  background-image: url(../../../../assets/images/cartoon.jpg);
}
.ios15-overview-header .vertical.icloud-div {
  grid-area: 4/9;
}
.ios15-overview-header .vertical .screen#icloud {
  background-image: url(../../../../assets/images/icloud.jpg);
}
.ios15-overview-header .horizontal.sea-div {
  grid-area: 5/1;
  margin-top: calc(274px * -1 - 192px * -1 - -2px);
  grid-column-end: span 2;
  justify-self: end;
}
.ios15-overview-header .horizontal .screen#sea {
  background-image: url(../../../../assets/images/sea.jpg);
}
.ios15-overview-header .horizontal.smile-div {
  justify-self: end;
  margin-top: calc(274px * -1 - 192px * -1 - -2px);
  grid-column-end: span 2;
  grid-area: 6/3;
}
.ios15-overview-header .horizontal .screen#smile {
  background-image: url(../../../../assets/images/smile.jpg);
}
.ios15-overview-header .vertical.focus-div {
  grid-area: 5/7;
  /* margin-top: calc(274px * -1 - 192px * -1 - -2px); */
}
.ios15-overview-header .vertical .screen#focus {
  background-image: url(../../../../assets/images/focus.jpg);
}
.ios15-overview-header .touch {
  grid-area: 5/4/7/7;
  text-align: center;
  align-self: start;
  padding: calc(65px / 2) calc(160px / 2) 0 calc(160px / 2);
}
.ios15-overview-header .touch span {
  font-size: 21px;
  line-height: 1.1904761905;
  font-weight: 600;
  letter-spacing: 0.011em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  display: block;
}
.ios15-overview-header .touch h1 {
  margin-top: 0.25em;
  font-size: 72px;
  line-height: 1.0555555556;
  font-weight: 600;
  letter-spacing: -0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.ios15-overview-header .touch p {
  font-size: 21px;
  line-height: 1.381002381;
  font-weight: 400;
  letter-spacing: 0.011em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-top: 0.8em;
}

@media only screen and (min-width: 1000px) and (max-height: 1150px) {
  .ios15-overview-header {
    margin-top: calc(
      var(--grid-rows) * (var(--device-width) + var(--grid-gap)) * 0.33 * -1 -
        -50vh + var(--device-width) / 2 * -1 + var(--grid-gap) / 2 * -1 -
        var(--grid-vertical-centering-offset) * -1 - var(--r-localnav-height) *
        -1
    );
  }
  :root {
    --device-width: 294px;
    --logo-width: 192px;
    --logo-height: 192px;
    --logo-scale: 1.875;
    --grid-rows: 6;
    --grid-gap: 82px;
    --grid-padding-top: 130px;
    --grid-padding-bottom: 140px;
    --grid-vertical-centering-offset: 26px;
    --r-localnav-height: 52px;
  }
}
@media only screen and (max-width: 1068px) {
  :root {
    --device-width: 220px;
    --grid-rows: 6;
    --logo-width: 155px;
    --logo-height: 155px;
    --grid-gap: 65px;
    --grid-padding-top: 106px;
    --grid-padding-bottom: 106px;
    --grid-vertical-centering-offset: 10px;
    --r-localnav-height: 48px;
  }
}
@media only screen and (max-width: 1068px) {
  .ios15-overview-header .vertical {
    width: 220px;
    height: 442px;
  }
  .ios15-overview-header .vertical .hardware {
    width: 220px;
    height: 442px;
    background-size: 220px 442px;
    background-repeat: no-repeat;
  }
  .ios15-overview-header .vertical .screen {
    width: 204px;
    height: 426px;
    background-size: 204px 426px;
    background-repeat: no-repeat;
  }
  .ios15-overview-header .vertical::before {
    width: 382px;
    height: 568px;
    background-size: 382px 568px;
  }
  .ios15-overview-header .horizontal .hardware {
    width: 442px;
    height: 220px;
    background-size: 442px 220px;
  }
  .ios15-overview-header .horizontal .screen {
    width: 426px;
    height: 204px;
    background-size: 426px 204px;
  }
  .ios15-overview-header .horizontal::before {
    width: 568px;
    height: 382px;
    background-size: 568px 382px;
  }
  .ios15-overview-header {
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 833px) {
  :root {
    --r-localnav-height: 48px;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) and (max-height: 1025px) {
  .ios15-overview-header {
    margin-top: calc(
      var(--grid-rows) * (var(--device-width) + var(--grid-gap)) * 0.33 * -1 -
        -50vh + var(--device-width) / 2 * -1 + var(--grid-gap) / 2 * -1 -
        var(--grid-vertical-centering-offset) * -1 - var(--r-localnav-height) *
        -1
    );
  }
}
@media only screen and (max-width: 734px) {
  :root {
    --device-width: 134px;
  }
}
@media only screen and (max-width: 770px) {
  .ios15-overview-header {
    /* margin-top: calc(
      var(--device-width) * -1 + var(--r-localnav-height) - 13px
    ); */
    margin-top: -45px;
  }
  .ios15-overview-header .ios15-img {
    width: 101px;
    height: 101px;
    background-size: 101px 101px;
    margin: auto;
  }
  .ios15-overview-header .vertical {
    width: 134px;
    height: 270px;
  }
  .ios15-overview-header .vertical::before {
    left: -8px;
    top: -10px;
    width: 222px;
    height: 332px;
    background-size: 222px 332px;
  }
  .ios15-overview-header .vertical .hardware {
    width: 134px;
    height: 270px;
    background-size: 134px 270px;
  }
  .ios15-overview-header .vertical .screen {
    margin-left: 5px;
    margin-top: 5px;
    width: 124px;
    height: 260px;
    background-size: 124px 260px;
  }
  .ios15-overview-header .horizontal {
    width: 270px;
    height: 136px;
  }
  .ios15-overview-header .horizontal::before {
    left: -5px;
    top: -4px;
    width: 332px;
    height: 222px;
    background-size: 332px 222px;
  }
  .ios15-overview-header .horizontal .hardware {
    width: 270px;
    height: 136px;
    background-size: 270px 136px;
  }
  .ios15-overview-header .horizontal .screen {
    margin-left: 5px;
    margin-top: 5px;
    width: 260px;
    height: 124px;
    background-size: 260px 124px;
  }
  .ios15-overview-header {
    grid-template-rows:
      var(--device-width) var(--device-width) var(--logo-width)
      var(--device-width) var(--device-width) auto;
    grid-template-columns:
      var(--device-width) var(--device-width) var(--device-width)
      var(--device-width) var(--logo-height) var(--device-width) var(
        --device-width
      )
      var(--device-width) var(--device-width) var(--device-width);
    grid-gap: var(--grid-gap);
  }
  :root {
    --device-width: 134px;
    --logo-width: 101px;
    --logo-height: 101px;
    --logo-scale: 1.8614;
    --grid-rows: 7;
    --grid-gap: 33px;
    --grid-padding-top: 130px;
    --grid-padding-bottom: 100px;
  }
  .ios15-overview-header .vertical.notifications-div,
  .ios15-overview-header .vertical.icons-div,
  .ios15-overview-header .vertical.background-div,
  .ios15-overview-header .vertical.news-div,
  .ios15-overview-header .vertical.weather-div {
    display: none;
  }
  .ios15-overview-header .vertical.chat-div {
    grid-area: 6/5;
  }
  .ios15-overview-header .vertical.focus-div {
    grid-area: 3/6;
  }
  .ios15-overview-header .vertical.home-div {
    grid-area: 5/4;
  }
  .ios15-overview-header .horizontal.smile-div {
    justify-self: end;
    margin-top: calc(358px * -1 - 192px * -1 - -2px);
    grid-column-end: span 2;
    grid-area: 6/6;
  }
  .ios15-overview-header .touch {
    grid-area: last/4/last/7;
    padding-top: calc(52px - var(--grid-gap));
    margin: 0 auto;
    padding: calc(var(--grid-gap) / 2) calc(var(--grid-gap) / 2) 0
      calc(var(--grid-gap) / 2);
  }
  :root {
    --grid-gap: 33px;
  }
  .ios15-overview-header .touch span {
    font-size: 17px;
  }
  .ios15-overview-header .touch h1 {
    margin-top: 0.15em;
    font-size: 48px;
  }
  .ios15-overview-header .touch p {
    font-size: 17px;
  }
  .ios15-overview-header .horizontal.cartoon-div {
    grid-area: 6/6;
    margin-top: 0;
    margin-left: 35px;
  }
  .ios15-overview-header {
    padding-left: 150px;
  }
  #mobile-layout .screen {
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .ios15-overview-header .touch p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 400px) {
  .ios15-overview-header .touch h1 {
    font-size: 38px;
  }
  .ios15-overview-header .touch p {
    width: 70%;
  }
}
@media (max-width: 290px) {
  .ios15-overview-header .touch h1 {
    font-size: 33px;
  }
  .ios15-overview-header .touch p {
    width: 60%;
    font-size: 13px;
  }
}
.ios15-overview-header .vertical.map-div,
.ios15-overview-header .horizontal.notes-div,
.ios15-overview-header .vertical.home-div,
.ios15-overview-header .vertical.face-time-div,
.ios15-overview-header .vertical.faces-div {
  animation: translate 0.5s linear;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@keyframes translate {
  from {
    transform: matrix(1, 0, 0, 1, 0, -400);
  }
  to {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.ios15-overview-header .horizontal.mixes-div,
.ios15-overview-header .vertical.notifications-div,
.ios15-overview-header .vertical.icons-div,
.ios15-overview-header .vertical.disturb-div,
.ios15-overview-header .horizontal.cartoon-div {
  animation: translate-mixes 0.5s linear;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
@keyframes translate-mixes {
  from {
    transform: matrix(1, 0, 0, 1, 400, 0);
  }
  to {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.ios15-overview-header .vertical.chat-div,
.ios15-overview-header .vertical.weather-div,
.ios15-overview-header .vertical.focus-div,
.ios15-overview-header .vertical.news-div,
.ios15-overview-header .vertical.icloud-div {
  animation: translate-chat 0.5s linear;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
@keyframes translate-chat {
  from {
    transform: matrix(1, 0, 0, 1, 0, 400);
  }
  to {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.ios15-overview-header .horizontal.sport-div,
.ios15-overview-header .vertical.background-div,
.ios15-overview-header .horizontal.sea-div,
.ios15-overview-header .horizontal.smile-div {
  animation: translate-sport 0.5s linear;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
@keyframes translate-sport {
  from {
    transform: matrix(1, 0, 0, 1, -400, 0);
  }
  to {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@media (max-width: 800px) {
  @keyframes translate-sport {
    from {
      transform: matrix(1, 0, 0, 1, -120, 0);
    }
    to {
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }
  @keyframes translate-chat {
    from {
      transform: matrix(1, 0, 0, 1, 0, 120);
    }
    to {
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }
  @keyframes translate-mixes {
    from {
      transform: matrix(1, 0, 0, 1, 120, 0);
    }
    to {
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }
  @keyframes translate {
    from {
      transform: matrix(1, 0, 0, 1, 0, -120);
    }
    to {
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }
}
