.spatial-audio {
  padding-top: 20px;
}

.share-play .content-data {
  padding-bottom: 0px;
  padding-right: 40px;
  padding-left: 40px;
  z-index: 9;
  position: relative;
}
.spatial-audio .white-background {
  padding: 36px 0px !important;
}
.spatial-audio h2 {
  color: #f63e54;
}
.spatial-audio p {
  margin-top: 0.3em;
  font-size: 19px;
  line-height: 1.4211026316;
  font-weight: 600;
  letter-spacing: 0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  max-width: 660px;
}
.spatial-audio img {
  width: 100%;
  position: relative;
  z-index: 0;
  top: -50px;
}
.spatial-audio .mobile-img {
  display: none;
}
@media only screen and (max-width: 1068px) {
  .spatial-audio h1 {
    font-size: 40px;
    line-height: 1.1;
  }

  .spatial-audio p {
    font-size: 17px;
    line-height: 1.4705882353;
  }
  .spatial-audio img {
    margin-left: -1px;
  }
}

@media (max-width: 940px) {
  .spatial-audio img {
    margin-left: 3px;
  }
}
@media (max-width: 840px) {
  .spatial-audio img {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 734px) {
  .content {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .spatial-audio h1 {
    padding-left: 18px;
    padding-right: 18px;
  }
  .spatial-audio .share-play {
    padding-bottom: 0;
    overflow: hidden;
  }
  .spatial-audio .mobile-img {
    display: block;
    left: 0;
    margin-left: 0;
    margin-top: 50px;
  }
  .spatial-audio .web-img {
    display: none;
  }
  .spatial-audio {
    padding-top: 0px;
  }
}

@media (max-width: 428px) {
  .content {
    max-width: 100%;
  }
  .spatial-audio p {
    padding: 0;
    width: 100%;
  }
  .spatial-audio .share-play {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .share-play .content-data {
    padding-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 375px) {
  .spatial-audio .share-play {
    border-radius: 0;
  }
}
