.options {
}
.options img {
  width: 72px;
  height: 72px;
}
.options p {
  margin-top: 31px;
  font-size: 19px;
  line-height: 1.4211026316;
  font-weight: 400;
  letter-spacing: 0.012em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.options p span {
  font-weight: 600;
  display: inline;
  font-size: 19px;
  margin-right: 5px;
}
.large-6 {
  flex-basis: 50%;
  max-width: 50%;
  box-sizing: border-box;
  margin-top: 67px;
  padding: 0 42px;
}
@media (max-width: 1068px) {
  .options {
    margin-top: 0px;
  }
  .options img {
    width: 52px;
    height: 52px;
  }
  .options p {
    margin-top: 27px;
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: -0.022em;
  }
  .options p span {
    font-size: 17px;
    font-weight: 600;
  }
}
@media (max-width: 735px) {
  .large-6 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 45px;
  }
}
