.ipad-os {
  text-align: center;
}
.ipad-os .ipad-os-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ipad-os .data {
  padding: 36px 40px 0;
}
.ipad-os .white-background {
  margin-top: 30px;
  padding: 0;
}
.ipad-os span {
  margin-top: 7px;
  margin-bottom: -13px;
  font-size: 15px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: #1d1d1f;
  display: block;
}
.ipad-os a,
.ipad-os a:hover {
  margin-top: 30px;
  display: block;
}
.ipad-os .figure {
  order: 1;
  margin-top: -1px;
  width: 1390px;
  height: 525px;
  background-size: 1390px 525px;
  background-image: url(../../../../assets/images/ipados.jpg);
  margin-bottom: -7px;
}
@media (max-width: 1068px) {
  .ipad-os .figure {
    margin-bottom: -7px;
  }
}
@media (max-width: 735px) {
  .ipad-os .figure {
    margin-top: 30px;
    width: 480px;
    height: 377px;
    background-size: 480px 377px;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/images/ipad-small.jpg);
  }
  .ipad-os .white-background {
    margin-top: 0;
  }
}
@media (max-width: 375px) {
  .ipad-os .white-background {
    border-radius: 0;
  }
  .ipad-os .ipad-os-content {
    margin: 0 15px;
  }
}
