.info.gray {
  background-color: #f5f5f7;
  padding: 17px 0 11px;
}
.features .info .info-content {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 22px; */
}
.info ol {
  padding-left: 13px;
  margin: 0;
}
.info li,
.info p {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding-bottom: 0.8em;
  color: #6e6e73;
}
.info p {
  margin-bottom: 0;
}
@media (max-width: 734px) {
  .info .info-content {
    padding: 0 15px;
  }
  .info {
    margin-top: 60px;
  }
}
